apps:
  kitchendaily:
    db:
      host: 127.0.0.1
      database: kitchendaily
      username: root
      password: root
    s3:
      access_key_id: AKIAISZJ7YPZRSTF6LQQ
      secret_access_key: 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
      bucket: aol-database-backups
      subdirectory: kitchendaily
    number_of_days_to_keep: 7
    prefix: db_backup_
  homesessive:
    db:
      host: 127.0.0.1
      database: homesessive
      username: root
      password: root
    s3:
      access_key_id: AKIAISZJ7YPZRSTF6LQQ
      secret_access_key: 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
      bucket: aol-database-backups
      subdirectory: homesessive
    number_of_days_to_keep: 7
    prefix: db_backup_