apps:
  <app key>:
    db:
      type: <mysql or herokupg>
      host: <database host>
      database: <database name>
      username: <database user>
      password: <database password>
    s3:
      access_key_id: <AWS access key id>
      secret_access_key: <AWS secret access key>
      bucket: <S3 bucket to use>
      subdirectory: <a subdirectory in the bucket>
    number_of_days_to_keep: <7, for example>
    prefix: <"db_backup_", for example>
  <app key>:
    db:
      type: <mysql or herokupg>
      host: <database host>
      database: <database name>
      username: <database user>
      password: <database password>
    s3:
      access_key_id: <AWS access key id>
      secret_access_key: <AWS secret access key>
      bucket: <S3 bucket to use>
      subdirectory: <a subdirectory in the bucket>
    number_of_days_to_keep: <7, for example>
    prefix: <"db_backup_", for example>
  <app key>:
    db:
      type: <mysql or herokupg>
      host: <database host>
      database: <database name>
      username: <database user>
      password: <database password>
    s3:
      access_key_id: <AWS access key id>
      secret_access_key: <AWS secret access key>
      bucket: <S3 bucket to use>
      subdirectory: <a subdirectory in the bucket>
    number_of_days_to_keep: <7, for example>
    prefix: <"db_backup_", for example>